* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .description-column {
    max-width: 50px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }